<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <!-- Max file upload size is 100mb -->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="100000" />
  </system.web>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <add key="AzureSearchServiceName" value="[SEARCH_SERVICE_NAME]" />
    <add key="AzureSearchServiceApiKey" value="[SEARCH_SERVICE_KEY]" />
    <add key="AzureCognitiveApiKey" value="[COGNITIVE_API_KEY]" />
    <!-- adding to trigger build-->
    <add key="AzureContainerName" value="[STORAGE_BLOB_CONTAINER_NAME]" />
    <add key="CategoryTableName" value="DocumentCategories" />
    <add key="CategorizationScoreThreshold" value="0.1" />
    <add key="AzureStorageConnString" value="[CONN_STRING]" />
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>